<div class="d-flex flex-row mb-3 gap-2">
  <h3>Lista de cursos</h3>
  <h4><a href="/major/create"><i class="bi bi-plus-square"></i></a></h4>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
    </tr>
  </thead>
  <tbody>
    {{#each majors}}
    <tr>
      <td>{{code}}</td>
      <td>{{name}}</td>
      <td>{{description}}</td>
      <td class="text-end">
        <a href="/major/read/{{id}}"><i class="bi bi-eye"></i></a>
        <a href="/major/update/{{id}}"><i class="bi bi-pencil-square"></i></a>
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#remove-modal-{{id}}"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#each majors}}
    <div class="modal fade" id="remove-modal-{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tem certeza?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Queres deletar as informações este curso?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="removeMajor('{{id}}')">Confirmar</button>
      </div>
    </div>
  </div>
</div>
{{/each}}
<script src="/js/removeMajor.js"></script>
