<div class="card mt-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{major.name}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{major.code}}</h6>
    {{#if hasDescription}}
    <p class="card-text">{{major.description}}</p>
    {{/if}}

    <button onclick="location.href='/../../major/update/{{major.id}}'" type="button"
      class="btn btn btn-primary">Editar</button>
    <button type="button" class="btn btn-primary" onclick={removeMajor('{{major.id}}')}>Remover</button>
  </div>
</div>
<script src="/js/removeMajor.js"></script>
